<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.sgti.gamestore">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="._MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/action_about" />
        <activity
            android:name=".TT_1Activity"
            android:label="Тяни-толкай" />
        <activity
            android:name=".Pikt_1Activity"
            android:label="Пиктограф" />
        <activity
            android:name=".PM_1Activity"
            android:label="Пойми меня" />
        <activity
            android:name=".MK_1Activity"
            android:label="Мульт-контакт" />
        <activity
            android:name=".Rech_1Activity"
            android:label="Речедром" />
        <activity
            android:name=".Gen_1Activity"
            android:label="Генератор историй" />
        <activity
            android:name=".AboutGameActivity"
            android:label="Об игре" />
    </application>

</manifest>